*{
	/*:Amarillo;*/
	-fx-base1:#009688;
	-fx-base2:#FF5722;
	-fx-color-texto:#FFFFFF;
	-fx-color-texto-headers:#000000;
	-fx-color-fondo:#000000;
}

.root {
	    -fx-background-color: white;
}
.green-hamburger > StackPane {
    -fx-background-color: -fx-color-texto-headers;
}
.menuBar {
 -fx-background-color:	 -fx-base1;
}
.contenedor{
	 -fx-background-color: -fx-color-fondo;
}
.menuButton {
	-fx-background-color:-fx-color-fondo;
	-fx-border-color: black;
	-fx-border-width: 1;
}
.errorText{
	-fx-text-fill: -fx-base2;
}
.jfx-tab-pane .tab-header-background{
    -fx-background-color:-fx-base1;
}
.jfx-tab-pane
{
    -fx-tab-min-width:240px;
    -fx-tab-max-width:300px;
    -fx-background-color:-fx-color-fondo;
}
.jfx-tab-pane .tab-selected-line {
	-fx-stroke: -fx-base2;
}
.jfx-decorator .jfx-decorator-buttons-container{
	-fx-background-color:-fx-base1;
}
.jfx-decorator .resize-border{
	-fx-border-color:-fx-base1;
	-fx-border-width: 1 1 1 1;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill:#FF5722;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill:white;
}