*{
/*:Amarillo;*/
-fx-base1:#FF5722;
-fx-base2:#FF5722;
-fx-color-texto:#000000;
-fx-color-texto-headers:#FFFFFF;
-fx-color-fondo:#FFFFFF;
}

.root {
	    -fx-background-color: white; 
}
 
.green-hamburger > StackPane {
    -fx-background-color: -fx-color-texto-headers;
}
.menuBar {
 -fx-background-color:	 -fx-base1;
}
.contenedor{
	 -fx-background-color: -fx-color-fondo;
}
.menuButton {
	-fx-background-color:-fx-color-fondo;
	-fx-border-color: black;
	-fx-border-width: 1;
}
.errorText{
	-fx-text-fill: -fx-base2;
}
.jfx-tab-pane .tab-header-background{
    -fx-background-color:-fx-base1;
}
.jfx-tab-pane
{
    -fx-tab-min-width:240px;
    -fx-tab-max-width:300px;
    -fx-background-color:-fx-color-fondo;
}
.jfx-tab-pane .tab-selected-line {
	-fx-stroke: -fx-base2;
}
.jfx-decorator .jfx-decorator-buttons-container{
	-fx-background-color:-fx-base1;
}
.jfx-decorator .resize-border{
	-fx-border-color:-fx-base1;
	-fx-border-width: 3 3 3 3;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill:#FF5722;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill:white;
}

 
/*
 * BARRA DE NOTIFICACIONES
 */
.jfx-snackbar-content {
	-fx-background-color: -fx-base1;
    -fx-padding: 2;
    -fx-spacing: 2;	
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.jfx-snackbar-toast {
	
	-fx-text-fill: -fx-color-texto-headers;
	-fx-font-size: 16;	
}

.jfx-snackbar-action {
	-fx-text-fill: -fx-base2;	
}


.windowbutton{
-fx-stroke: white;
-fx-fill: white;
-fx-background-color: transparent ;
-fx-padding: 2 2 2 5;	
}

.myDialog{
    -fx-background-color: -fx-color-fondo;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: -fx-color-fondo;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-texto;
}
.myDialog:header *.header-panel{
    -fx-background-color: -fx-base2;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: -fx-color-texto;
}
 
.dialog-pane .button{
   -fx-background-color:-fx-base1;
   -fx-text-fill:-fx-color-texto-headers;
   -fx-wrap-text: true;
 }
 
 .dialog-pane .button{
   -fx-background-color:-fx-base2;
   -fx-text-fill:-fx-color-texto-headers;
   -fx-wrap-text: true;
 }

/*
 * CALENDAR
 */
 
 .changeButton{
	-fx-text-fill: #009688;
	-fx-font-weight: bold;
	-fx-font-size:40;
	-fx-background-color: transparent;
	-fx-opacity: 0.6;
	-fx-padding: 0;
}

.changeButton:hover{
			-fx-opacity: 1;

	
}

.month{
	-fx-font-size: 13pt;
	-fx-font-weight: bold;
	-fx-background-color: #009688;
		-fx-text-fill: white;
}

.year{
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size:22pt;
	-fx-text-fill: #009688;
}

.weekday{
	-fx-font-weight: bold;
}

.day{
	-fx-font-size: 15;
	-fx-font-style: italic ;
	-fx-border-color: transparent;
	-fx-border-width: 2;
}

.day:hover {
	-fx-border-color: #009688;
	-fx-border-style: solid ;
		-fx-border-radius: 20;
	
}

.emptyday{
	-fx-border-color: transparent;
	-fx-border-width: 2;	
}

.emptyday:hover{
		-fx-border-color: transparent;
}

.componenteMes{

}

.today{
	-fx-border-width: 2;
	-fx-border-radius: 20;
	-fx-font-weight: bold;
}

.sunday{
	-fx-text-fill: red;
}

.dayWithEvent{
			-fx-background-color:green;
}


.specialDay{
	-fx-background-color: #FF5722;	
	-fx-text-fill: white;
	-fx-background-radius: 20;	
}
  
.pruebaScroll {
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-border-color: -fx-color-fondo;
	-fx-background-insets: 0 ;
	-fx-background-color: -fx-color-fondo;
}


.split-pane *.split-pane-divider {
    -fx-background-color: -fx-base1;
    -fx-pref-width: 4px;
}


 


.list-view .list-cell {
    -fx-padding: 10px ;
    -fx-background-color: transparent, -fx-base1 ;
    -fx-background-insets: 0px, 3px ;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
 
.list-view .list-cell:empty {
    -fx-padding: 10px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
 
.list-view .list-cell:filled:hover { 
         -fx-background-color: -fx-base2, -fx-base1;
}

.list-view .list-cell:filled:selected:focused, .listview .list-cell:filled:selected {
      -fx-background-color: transparent,-fx-base2; 
    -fx-text-fill:-fx-color-texto-headers; 
}


.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}


.combo-box .list-cell:filled:selected:focused, .combo-box .list-cell:filled:selected {
      -fx-background-color: transparent,red; 
    -fx-text-fill:-fx-color-texto-headers; 
}


 


.titled-pane 
{
-fx-text-fill: -fx-color-texto-headers;
-fx-alignment: center;
}
.titled-pane:focused 
{
	-fx-background-color:-fx-base2;
}

.titled-pane:hover .title{
-fx-background-color:-fx-base2;
}
.titled-pane > .title 
{
-fx-background-color: -fx-base1;
-fx-padding: 0;
-fx-font-weight: bold;
-fx-font-size: 18;
-fx-border-width:1 0 0 0;
-fx-border-color: -fx-color-fondo;

}
 
.titled-pane:focused > .title 
{
-fx-background-color: -fx-base2;
}
 
.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-shape: " ";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{ 
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border,
linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.texth1{
	-fx-text-fill: -fx-color-texto-headers;
-fx-font-size: 18;
}

.buttonOk {
	-fx-background-color: -fx-base1;
	-fx-text-fill: -fx-color-texto-headers;
}

.buttonCancel{
	-fx-background-color: -fx-base2;
	-fx-text-fill: -fx-color-texto-headers;
}


.circularBUtton{
	-fx-background-color: -fx-base1;
	-fx-background-radius: 20;
}

.circularBUtton:hover{
		-fx-background-color: -fx-base2;
	
}
 
  

.scroll-bar{
 -fx-background-color: -fx-base1;
 -fx-background-radius: 20px;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: -fx-base1;
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
} 
.scroll-bar:vertical .thumb {
 -fx-background-color: -fx-base2;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: -fx-base2;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: -fx-base2; 
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: " ";
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color:-fx-color-fondo;
 -fx-shape: " ";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color:-fx-color-fondo;
 -fx-shape: " ";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: -fx-color-fondo;
 -fx-shape: " ";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: -fx-color-fondo;
}





