.root {
	    -fx-background-color: white;
}

.green-hamburger > StackPane {
    -fx-background-color: white;
}

.menuBar {
 -fx-background-color:	 #009688;
}

.contenedor{
	 -fx-background-color: white;

}
