.root {
	    -fx-background-color: white;
}

.green-hamburger > StackPane {
    -fx-background-color: white;
}

.menuBar {
 -fx-background-color:	 #009688;
}

.contenedor{
	 -fx-background-color: white;

}

.menuButton {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.datePickerError {

	    }
	    
.errorText{
	-fx-text-fill: #FF3D00;
	
}